[
    {kernel, [
        {error_logger, silent}
    ]},

    {lager, [
        {log_root, "log/"},
        {error_logger_hwm, 1000},
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [
                {file, "debug.log"},
                {level, debug},
                {size, 100000000},
                {date, ""},
                {count, 10},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", message, "\n"]}
            ]}
        ]},
        {crash_log, "crash.log"}
    ]},

    {ditax_relay, [
        {inbound, {in, 7770}},
        {outgoing, {out, 7771}},
        {acceptors, {acceptors, 3, ditax_relay_acceptor, [ditax_player_handler]}}
    ]}
].